:root {
  --grey: #1f1f1f;
  --light-grey: #f2f2f2;
  --blue: #2f80ed;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*===============================================
      mixes
===============================================*/

.logo {
  width: 183px;
  background-image: url('../images/logo_place_header.svg');
}

.logo:hover {
  opacity: .6;
}

.logo:active {
  opacity: .3;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
}

.logo_place_footer {
  height: 35px;
  background-image: url('../images/logo_place_footer.svg');
  background-size: cover;
}

.section-title {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

.digits__title,
.kaufman__title {
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}

/*===============================================
      content
===============================================*/

.content__techniques {
  margin: 0 auto;
}

.content__video {
  margin: 0 auto;
}

/*===============================================
      header
===============================================*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding-left: 64px;
  position: relative;
  display: flex;
  background-color: var(--light-grey);
  overflow: hidden;
}

.header__title {
  margin: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  align-self: center;
  position: relative;
  z-index: 10;
}

.header__subtitle {
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  width: 390px;
  z-index: 10;
}

.header__link {
  color: var(--blue);
  text-decoration: none;
}

.header__link:hover {
  opacity: .6;
}

.header__link:active {
  opacity: .3;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background: var(--blue);
  position: absolute;
  top: 64px;
  right: 0;
}

/*===============================================
      description
===============================================*/

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

/*===============================================
      two-columns
===============================================*/

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  color: var(--blue);
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph:not(:last-of-type) {
  margin-bottom: 30px;
}

/*===============================================
      digits
===============================================*/

.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*===============================================
      table
===============================================*/

.table {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 10;

}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin: 20px 0 0;
}

/*===============================================
      feynman
===============================================*/

.feynman {
  position: relative;
  min-height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grey);
}

.feynman__title {
  margin: 0 0 70px;
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 10;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  color: var(--blue);
  text-decoration: none;
  z-index: 10;
}

.feynman__link:hover {
  opacity: .6;
}

.feynman__link:active {
  opacity: .3;
}

.feynman__portrait {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*===============================================
      kaufman
===============================================*/

.kaufman {
  background-color: var(--grey);
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  width: 877px;
  height: 877px;
  right: -210px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
}

/*===============================================
      footer
===============================================*/

.footer {
  background-color: var(--grey);
  color: white;
  min-height: 350px;
  display: flex;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__columns {
  display: flex;
  width: 90%;
  padding: 60px 0 40px;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  margin-left: auto;
}

.footer__column_content_social {
  margin-left: auto;
}

.footer__column-links {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.footer__column-link:hover {
  opacity: .6;
}

.footer__column-link:active {
  opacity: .3;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

/*===============================================
      rotation
===============================================*/

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s infinite linear;
}

/*===============================================
      techniques
===============================================*/

.techniques {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.techniques__subtitle {
  margin-top: 20px;
}

/*===============================================
      cards
===============================================*/

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.cards__item {
  width: 240px;
  margin-right: 100px;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 63px 40px 43px;
  border-radius: 50%;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

/*===============================================
      video
===============================================*/

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 100px;
}

.video__subtitle {
  margin-top: 20px;
}

.video__iframes {
  margin: 50px 0 -60px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: none;
}

.video__iframe:first-child {
  margin-right: 20px;
}

/*===============================================
      oakley
===============================================*/

.oakley {
  display: flex;
  padding: 160px 0 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
}

/*===============================================
      khan
===============================================*/

.khan {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px
}

.khan__container {
  width: 80%;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.khan__quote {
  margin: 50px 0 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 36px 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 10px 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  margin: 68px 0 0;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  background: url('../images/khan-book.jpg');
  background-size: cover;
}

.khan__buy-link {
  color: var(--blue);
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

